In [1]:
import numpy as np
import pandas as pd
from pandas_datareader.data import DataReader
from datetime import date
import datapackage

import yfinance as yf
from yahoofinancials import YahooFinancials

In [2]:
###########################################Pull SP500 list from datahub#################################
data_url = 'https://datahub.io/core/s-and-p-500-companies-financials/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])

#data.info()

In [3]:
col_list=['Symbol', 'Name', 'Sector', 'Market Cap']
sp_list=data[col_list]
sp_list['Market Cap']=sp_list['Market Cap'].div(1000000000)

sp_list.to_csv('./data/sp_list.csv', index=False)

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
start='1990-01-01'
end='2020-11-06'

stock_list=sp_list['Symbol'].tolist()
stock_database=yf.download(stock_list, 
                 start=start, 
                 end=end, 
                 progress=False)

28 Failed downloads:
- LUK: No data found for this date range, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- RTN: No data found, symbol may be delisted
- DWDP: No data found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- APC: No data found, symbol may be delisted
- DPS: No data found for this date range, symbol may be delisted
- CBG: No data found for this date range, symbol may be delisted
- RHT: No data found, symbol may be delisted
- SYMC: No data found, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- BBT: No data found, symbol may be delisted
- WYN: No data found for this date range, symbol may be delisted
- HRS: No data found, symbol may be delisted
- UTX: No data found, symbol may be delisted
- TSS: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- AGN: No data found, symbol may be delisted
- LLL: No data found, symbol may be delisted
- HCP: No data found, symbol may be delisted
- CBS: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- TMK: No data found, symbol may be delisted
- HCN: No data found for this date range, symbol may be delisted
- KORS: No data found for this date range, symbol may be delisted
- JEC: No data found, symbol may be delisted
- BHGE: No data found, symbol may be delisted

In [5]:
stock_database_adjclose=stock_database[['Adj Close']].copy()
stock_database_adjclose.dropna(how='all', axis=1, inplace=True)
stock_database_adjclose.dropna(how='all', axis=0, inplace=True)
#stock_database.head()

In [6]:
stock_database_adjclose.columns=stock_database_adjclose.columns.droplevel()
stock_database_adjclose.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1990-01-02 00:00:00,NaN,NaN,NaN,0.265909,NaN,NaN,1.924192,NaN,1.188336,1.077744,...,NaN,NaN,4.515697,0.839383,11.913305,NaN,NaN,NaN,1.988496,NaN
1990-01-03 00:00:00,NaN,NaN,NaN,0.267693,NaN,NaN,1.931138,NaN,1.247020,1.021757,...,NaN,NaN,4.470540,0.839383,12.016454,NaN,NaN,NaN,2.024005,NaN
1990-01-04 00:00:00,NaN,NaN,NaN,0.268586,NaN,NaN,1.927665,NaN,1.305702,1.007760,...,NaN,NaN,4.425384,0.805807,12.042234,NaN,NaN,NaN,2.024005,NaN
1990-01-05 00:00:00,NaN,NaN,NaN,0.269478,NaN,NaN,1.906826,NaN,1.335044,1.007760,...,NaN,NaN,4.402805,0.856170,12.068027,NaN,NaN,NaN,2.024005,NaN
1990-01-08 00:00:00,NaN,NaN,NaN,0.271263,NaN,NaN,1.916601,NaN,1.352692,1.007760,...,NaN,NaN,4.470540,0.822595,11.990668,NaN,NaN,NaN,2.024005,NaN

In [7]:
output_path='./data/'
stock_database_adjclose.to_csv(output_path+'stock_database.csv')