In [17]:
import numpy as np
import pandas as pd

from datetime import date
import pandas_market_calendars as mcal

from statsmodels.tsa.stattools import coint

In [18]:
data_file=pd.read_csv('./data/stock_database.csv')
#data_file.head()

In [19]:
data_file['Date']=data_file['Date'].astype('datetime64[ns]')
data_file.set_index('Date', inplace=True)
data_file.drop(['ARNC', 'FOX', 'FOXA', 'PX', 'SCG', 'AKAM', 'CHK'], axis=1, inplace=True)

smoothing='yes'
data_file.to_csv('./data/selected.csv')

In [20]:
#start='1990-01-01'
#end='2020-11-06'
#nyse = mcal.get_calendar('NYSE')
#time_range=nyse.schedule(start_date=start, end_date=end)
#mcal.date_range(time_range, frequency='1W')

In [21]:
sp_list=pd.read_csv('./data/sp_list.csv')
sp_list=sp_list[['Symbol', 'Sector']].copy()

In [22]:
temp_list=[]
main_list=[]

stock_list=data_file.columns.to_list()
for i in range(0, len(stock_list)-1):
    for j in range(i+1, len(stock_list)):
        pair=data_file.iloc[:,[i,j]]
        pair.dropna(how='any', axis=0, inplace=True)
        
        if smoothing=='yes':
            pair=pair.rolling(window=5).mean()
            pair.dropna(inplace=True)
        
        try:
            result=coint(pair.iloc[:,0], pair.iloc[:,1])
        except ValueError:
            print(f'i:{i},j:{j}')
            
        temp_list=[result[0], result[1], result[2][0], result[2][1], result[2][2], i, j]
        main_list.append(temp_list)

test_results=pd.DataFrame(main_list, columns=('t_stat', 'p_value', 'CI_1', 'CI_5','CI_10', 'i', 'j'))

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
test_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110215 entries, 0 to 110214
Data columns (total 7 columns):
t_stat     110215 non-null float64
p_value    110215 non-null float64
CI_1       110215 non-null float64
CI_5       110215 non-null float64
CI_10      110215 non-null float64
i          110215 non-null int64
j          110215 non-null int64
dtypes: float64(5), int64(2)
memory usage: 5.9 MB

In [24]:
coint_results=test_results.loc[test_results.p_value<0.005]
coint_results=coint_results.sort_values(by='p_value')

In [25]:
new_cols=['i_sybl', 'j_sybl', 'i_sect', 'j_sect']
coint_results=coint_results.reindex(columns=coint_results.columns.tolist()+new_cols)

stock_list=data_file.columns.tolist()
for num in range(0, len(coint_results.index)):

    i=coint_results.iloc[num, 5]
    j=coint_results.iloc[num, 6]
    
    coint_results['i_sybl'].iloc[num]=stock_list[i]
    coint_results['j_sybl'].iloc[num]=stock_list[j]

coint_results=pd.merge(coint_results, sp_list, how='left', left_on='i_sybl', right_on='Symbol')
coint_results['i_sect']=coint_results['Sector']
coint_results.drop(columns=['Sector'], axis=1, inplace=True)
coint_results=pd.merge(coint_results, sp_list, how='left', left_on='j_sybl', right_on='Symbol')
coint_results['j_sect']=coint_results['Sector']
coint_results.drop(columns=['Symbol_x', 'Symbol_y', 'Sector'], axis=1, inplace=True)
coint_results.head()

,t_stat,p_value,CI_1,CI_5,CI_10,i,j,i_sybl,j_sybl,i_sect,j_sect
0,-7.494694,5.448802e-10,-3.970943,-3.377167,-3.072846,71,212,CA,HPE,Information Technology,Information Technology
1,-6.271956,4.111730e-07,-3.970943,-3.377167,-3.072846,54,203,AZO,HD,Consumer Discretionary,Consumer Discretionary
2,-6.142282,7.957671e-07,-3.970943,-3.377167,-3.072846,37,462,ANDV,XOM,Energy,Energy
3,-6.066283,1.166420e-06,-3.970943,-3.377167,-3.072846,286,392,MKC,SPGI,Consumer Staples,Financials
4,-5.956767,2.011268e-06,-3.970943,-3.377167,-3.072846,88,167,CL,FBHS,Consumer Staples,Industrials

In [26]:
if smoothing=='yes':
    coint_results.to_csv('./data/results_smoothing.csv', index=False)
else:
    coint_results.to_csv('./data/results.csv', index=False)